# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Ugh
.DS_Store
*/.DS_Store

# PyBuilder
target/

# pyenv
.python-version

# mkdocs documentation
/site
/html
/latex

# mypy
.mypy_cache/

# pylinted
pylinted

# nano save files
*.save
*.save*

# generated content
/obs/html/*
/obs/text/*
/obs/images/*
/obs/css/*
